{% extends 'admin/base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
    {% include 'admin/navbar.html' %}
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
    {% include 'admin/aside.html' %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h3>Upload a file</h3>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'pixabay:basehome'%}">Home</a></li>
              <li class="breadcrumb-item active">Validation</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
              <!-- form start -->
              <form role="form" method="post" enctype="multipart/form-data">
                  {% csrf_token%}
                <div class="card-body">
                  <div class="form-group">
                     {{form.file_format|as_crispy_field}}
                  </div>
                  <div class="form-group">
<!--                    <label for="exampleInputPassword1">Password</label>-->
                      {{ form.file_name|as_crispy_field }}
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-outline-info btn-xs"
                          style="border-radius:50%; height: 47; width: 45; box-shadow: 4px 4px 6px grey;">
                                                            <h3>+</h3></button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
          <!-- right column -->
          <div class="col-md-6">

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
    {% include 'admin/footer.html' %}

</div>
<!-- ./wrapper -->

<!-- jQuery -->
{% include 'admin/script.html' %}
<script type="text/javascript">
$(document).ready(function () {
  $.validator.setDefaults({
    submitHandler: function () {
      alert( "Form successful submitted!" );
    }
  });
  $('#quickForm').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
      password: {
        required: true,
        minlength: 5
      },
      terms: {
        required: true
      },
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a vaild email address"
      },
      password: {
        required: "Please provide a password",
        minlength: "Your password must be at least 5 characters long"
      },
      terms: "Please accept our terms"
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
{% endblock %}
