{% load static %}

<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{% url 'pixabay:basehome' %}" class="nav-link">Home</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
          <div class="container mt-5">
        <div style="width:500px; margin:0 auto">
             <input class="form-control" type="search" oninput=" makeSearchRequest()" placeholder="Search custom image..." id="search_input">
            <ul class="list-group" id="search_list">
<!--                 <li class="list-group-item">-->
<!--                     <div style="width:50px">-->
<!--                        <img src="" style="width:100%">-->
<!--                     </div>-->
<!--                     iwgeihiwgohjwpojsotjgf-->
<!--                 </li>-->
<!--              </ul>-->
              </ul>
        </div>
<!--     <button class="btn btn-navbar" onclick="makeSearchRequest()">-->
<!--            <i class="fas fa-search"></i>-->
<!--         </button>-->
<!--    </div>-->

  <script>
    function makeSearchRequest(){
        if(document.getElementById("search_input").value == ""){
            document.getElementById("search_input").innerHTML = ""
            return
        }
      let ajax = new XMLHttpRequest()
      let keyword = document.getElementById("search_input").value
      ajax.open("GET", window.location.origin+"/make-search/?query="+ keyword, true)
      ajax.onreadystatechange = function(evt){
      if(evt.target.readyState == 4 & evt.target.status ==200){
         let response = JSON.parse(evt.target.response)
         document.getElementById('search_list').innerHTML = "";
         for(let index in response ){
            let data = response[index]
            document.getElementById('search_list').innerHTML += `
                  <li class="list-group-item">
                       <img src="/static/${data.file_format}" style="width:30%; height:30%; border-radius:50%; ">
                    <i><a href="{% url 'pixabay:image-panel' %}">${data.file_name}</a></i>
                 </li>
            `
         }
        }
     }
    ajax.send()
   }
  </script>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% get_static_prefix %}admin/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% get_static_prefix %}admin/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="{% get_static_prefix %}admin/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
    </div>
  </nav>